### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
WordCountLib/src/main/resources/.~lock.bible_daily.txt\#
/WordCountApi/target/
WordCountApi/.idea/vcs.xml
WordCountApi/.idea/misc.xml
WordCountApi/.idea/jarRepositories.xml
WordCountApi/.idea/encodings.xml
WordCountApi/.idea/compiler.xml
WordCountLib/.idea/misc.xml
WordCountLib/.idea/misc.xml
